.register {
  width: 410px;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 15px 15px grey;
  position: relative;
  background-color: aliceblue;
}
.register > input {
  border-radius: 5px;
  border: 2px solid #dddfe2;
  padding: 0.5rem 1.75rem;
  margin: 0.25rem 0;
  width: 350px;
}
.register > .button {
  background: #80a3db;
  border: 1px solid #80a3db;
  padding: 0.5rem;
  margin: 0.5rem 0;
  cursor: pointer;
  outline: none;
  font-size: 1.25rem;
  color: white;
  border-radius: 5px;
}
